@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Lato Bold';
        src: url(assets/font/Lato-Bold.ttf) format('TTF/OTF');
    }

    html {
        font-family: "Lato Bold";
    }
}